.button_orange {
	width: 200px;
	height: 60px;
	background: $second-color;
	border-radius: 4px;
	border: none;
	padding: 21px 34px;

	outline: 0 !important;
	outline-color: transparent !important;
	outline-width: 0 !important;
	outline-style: none !important;
	box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
}
.button_orange:hover {
	background: #ca8e16;
	border: none;
	outline: none;
}
.button_orange:active {
	background: #e1670e;
	border: none;
	outline: none;
}
.button_orange:visited {
	background: #bd5a14;
}
.button_blue {
	width: 300px;
	height: 60px;
	background: #0a45bb;
	border-radius: 4px;
	border: none;
	padding: 21px 34px;
}
