@font-face {
    font-family: "Manrope-Regular";
    font-display: swap;
    src: local("Manrope-Regular"), url("../fonts/Manrope-Regular.woff") format("woff"),
        url("../fonts/Manrope-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Manrope-ExtraBold";
    font-display: swap;
    src: local("Manrope-ExtraBold"), url("../fonts/Manrope-ExtraBold.woff") format("woff"),
        url("../fonts/Manrope-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "MazzardL-Bold";
    font-display: swap;
    src: local("MazzardL-Bold"), url("../fonts/MazzardL-Bold.woff") format("woff"),
        url("../fonts/MazzardL-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
