.header {
	margin-bottom: 25px;
	min-height: 100px;

	&__container {
		display: flex;
		gap: 150px;
	}

	// .header__logo

	&__logo {
		margin-top: 26px;
		img {
			width: 240px;
			height: 79px;
		}
	}

	&__items {
		display: flex;

		margin-top: 35px;
	}

	&__button {
		margin-right: 12px;
	}

	&__locate {
		input:active {
			border: 1px dotted $main-color;
		}
	}
	&__input_city {
		padding: 7px 0px 5px 2px;
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		border: 1px dotted $main-color;
		width: 140px;
	}
	&__input_city:visited {
		border: 1px dotted $main-color;
	}

	&__license {
		width: 185px;
		font-size: 12px;
		line-height: 130%;
		margin-top: 10px;
		color: #9f9f9f;
	}

	&__contacts {
		margin-right: 60px;
	}
	&__go {
	}
}

.locate-header {
	margin-right: 60px;
	&_logo {
		margin-top: 5px;
	}
}
.contacts-header {
	&__tel {
		font-weight: 800;
		font-size: 25px;
		line-height: 36px;
	}

	// .contacts-header__logo

	&__logo {
		padding-left: 24px;
		padding-top: 8px;
	}

	// .contacts-header__link

	&__link {
		font-weight: 600;
		font-size: 14px;
		line-height: 19px;
		color: #363636;
		padding-top: 6px;
		display: inline-block;
	}
}
.button {
	&_orange {
		width: 200px;
		height: 60px;
		background: $second-color;
		border-radius: 4px;
		font-weight: 800;
		font-size: 12px;
		line-height: 18px;
		text-transform: uppercase;
		color: #ffffff;
		padding: 21px 34px;
	}
	&_blue {
		width: 300px;
		height: 60px;
		background: $main-color;
		border-radius: 4px;
		font-weight: 800;
		font-size: 12px;
		line-height: 18px;
		text-transform: uppercase;
		color: #ffffff;
	}
}
.go-header {
	&__btn {
		width: 60px;
		height: 60px;
		background: #0a45bb;
		border-radius: 4px;
		font-weight: 600;
		font-size: 12px;
		color: #ffffff;
	}
	&__logo {
		width: 20px;
		height: 20px;
	}
	&__form {
		flex-direction: column;
		position: absolute;
		width: 300px;
		height: 300px;
		left: 40vw;
		top: 50%;
		z-index: 10;
		background: #fc6;
		border-radius: 4px;
	}
}
.btn-success {
	display: block;
	margin-top: 20px;
	width: 200px;
	height: 40px;
	background: #0a45bb;
	border-radius: 4px;
	font-weight: 600;
	font-size: 12px;
	color: #ffffff;
	margin: 40px auto;
}

.personal__data {
	text-align: center;
	margin-top: 30px;
	&_2 {
		margin-top: 30px;
		margin-left: 13px;
	}
}
