.work {
	margin-bottom: 120px;
}

.work-title {
	margin-bottom: 45px;
}
.wrapper-work {
	display: flex;
	position: relative;
	gap: 90px;
	height: 220px;
	background: #f4f9fb;
	border-radius: 4px;
	&__item {
		margin-top: 75px;
	}
	&__item:not(:last-child):after {
		content: "";
		position: absolute;
		top: 105px;
		margin-left: 35px;
		background: url("../../icons/Arrow.png") center center/cover no-repeat;
		width: 36px;
		height: 7px;
	}

	&__item:nth-child(1) {
		margin-left: 75px;
	}
	// .wrapper-work__img

	&__img {
		width: 50px;
		height: 50px;
		margin-right: 18px;
	}

	// .wrapper-work__descr

	&__descr {
		display: inline-block;
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		color: #1b1c1c;
	}
}
